/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.animate-if {
}

.animate-if.ng-enter {
  animation: zoomIn 0.5s;
}
.animate-if.ng-leave {
  animation: flipOutX 1s;
}
